<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>결제하기</title>
    <!-- 토스페이먼츠 결제창 SDK 추가 -->
    <script src="https://js.tosspayments.com/v1/payment"></script>
</head>
<body>
<section>
    <!--  충전하기 버튼 만들기  -->
    <span>총 포인트 충전 금액 :</span>
    <span>100원</span>
    <button id="payment-button">100원 충전하기</button>
</section>
<script>
    // ------ 클라이언트 키로 객체 초기화 ------
    var clientKey = 'test_ck_5OWRapdA8dwYaEqgE20Pro1zEqZK'
    var tossPayments = TossPayments(clientKey)
    // ------ 충전하기 버튼에 기능 추가 ------
    var button = document.getElementById('payment-button') // 충전하기 버튼
    button.addEventListener('click', function () {

        // ------ 결제창 띄우기 ------
        tossPayments.requestPayment('CARD', {
            amount: 100,
            orderId: 'c99b1468-c3fb-4a90-bebd-0b1bf282a1f5',
            orderName: 'point',
            customerName: 'kimdozzi',
            customerEmail: 'neo5188@gmail.com',
            successUrl: 'http://localhost:8080/success',
            failUrl: 'http://localhost:8080/fail'
        })
    })
</script>
</body>
</html>